/* RESET */
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* SVG */

#shadow_Image,
#shadow_Image-2 {
  pointer-events: none;
}

.g_to_interact_with {
  fill: transparent;
  cursor: pointer;
}

.hide {
  display: none;
}

/* CONFIGURATOR */
#configurator {
  display: flex;
}
